nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 3rem;

    background: none;
    color: var(--foreground);

    backdrop-filter: blur(10px);

    #logo h1 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    #end {
        display: flex;
        gap: 1rem;

        #links {
            @media (max-width: 768px) {
                display: none;
            }

            display: flex;
            gap: 2rem;
            background: color-mix(in srgb, var(--primary) 20%, transparent);
            padding: .5rem 2rem;
            border-radius: 1rem;

            a {
                color: var(--foreground);
                font-size: 1rem;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    color: var(--accent);
                }
            }
        }

        button {
            background: none;
            border: none;
            color: var(--foreground);
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
        }
    }
}
